@page
@model MipSdkRazorSample.Pages.SecurityPolicy.IndexModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <!--<a asp-page="Create">Create New</a>-->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataPolicy[0].PolicyName)
            </th>
            <th>
                Label Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DataPolicy) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyName)
            </td>
            <td>
                <!-- Update to display the label name instead of ID-->
                @Html.DisplayFor(modelItem => Model.MipLabel.Where(m => m.Id == item.MinLabelIdForAction).FirstOrDefault().Name)
            </td>                        
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <!--
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                -->
            </td>
        </tr>
}
    </tbody>
</table>

<h3>
    <b>Downloaded</b> files will have the label specified in <b>download policy</b> applied at download.
</h3> 

<br /><br />

<h3>
    <b>Uploaded</b> files can be no more sensitive than that label specified in <b>upload policy</b>.
</h3>
